[defaults]
inventory = inventories/range.ini
interpreter_python = auto_silent
host_key_checking = False
result_format = yaml
display_skipped_hosts = False
forks = 10

[ssh_connection]
pipelining = True
